<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.asu.pick_me_graduation_project"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity
            android:name=".activity.UserProfileActivity"
            android:label="@string/title_profile">
        </activity>
        <activity android:name=".activity.SignUpActivity">
        </activity>
        <activity android:name=".activity.BaseActivity">
        </activity>
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchUsersActivity"
            android:label="@string/title_search_users">
        </activity>

        <!-- external libraries activities -->
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>
        <activity
            android:name=".activity.RecentChatsActivity"
            android:label="@string/title_messages">
        </activity>
        <activity
            android:name=".activity.CommunitiesActivity"
            android:label="@string/title_communities">
        </activity>
        <activity android:name=".activity.TestActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity android:name=".activity.ChatActivity">
        </activity>
    </application>

</manifest>
